<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Verify Your Email Address</title>
</head>

<body>
    <h1>Verify Your Email Address</h1>
    <h2>Hi {{username}}</h2>
    <p>Thank you for signing up with <strong>Bank IAV</strong>!</p>
    <p>To verify your email address and activate your account, please click the link below:</p>
    <a href="{{ confirm_url }}">Verify Email Address</a>
    <br /><br /><br /><br /><br /><br />
    <hr>
    <p>If you didn't create an account with Bank IAV, please ignore this email.</p>
</body>

</html>